/* Enter your custom styles here */
.modal{
    z-index: 99;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    width : 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.modal--container{
    position: absolute;
    background-color: white;
    padding : 50px;
    border-radius: 50%;
}
.classic-1 {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
    animation:c1 1s linear infinite alternate;
}
@keyframes c1 {to{opacity: 0}}

.classic-2 {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
    padding-bottom: 8px;
    background:linear-gradient(currentColor 0 0) bottom left/0% 3px no-repeat;
    animation:c2 2s linear infinite;
  }
@keyframes c2 {to{background-size: 100% 3px}}


.chart__padding{
    padding : 20px;
}

.custom--contextmeun{
    position: absolute;
    z-index: 20;
    background-color: white;
    display: none;
    box-shadow: 10px 5px 5px gray;
}

.custom--contextmeun__content{
    display: flex;
    align-items: center;
    margin:5px;
    background-color: aqua;
    padding: 30px 50px;
}

.custom--contextmeun__content span{
    cursor : pointer;
}